/* Normalize CSS */

/* Header */
.masthead {
    text-align: center;
    border: 1px solid hsl(38.8, 100%, 50%);
}

/* Header */
img {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
  }
    
.cards {
margin: 0;
padding: 0;
list-style-type: none;
background: #0f0f0f;
}

.card {
    margin: 0.25rem;
  width: 20rem;
  padding: 0.4rem .4rem 0.75rem;
  background-color: #222;
  &:hover {
    cursor: pointer;
    
    img {
      background-size: 105% auto;
      filter: saturate(200%);
    }

    p {
      filter: saturate(200%);
    }
  }
}

.card p {
    margin: 0;
    padding: 0;
    color: orange;
    font-weight: bold;
    font-size: 2em;
    filter: saturate(0%);
    transition: all 0.25s ease-in-out;
}

.card img {
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-position: center center;
    margin: 0.8rem 0 0.7rem 0;
    transition: all 0.25s ease-in-out;
    filter: saturate(0%);
}

.cards p {
display: block;
margin: 1em;
text-decoration: none;
}

.caption {
padding: 1em;
background: hsla(246, 40%, 30%, 0.6);
color: white;
font-size: 1.2em;
transition: all 0.4s;
}

a:focus .caption,
a:hover .caption {
background: hsla(246, 40%, 30%, 1);
}

.caption-title {
margin: 0;
font-size: 1.4em;
line-height: 1.1em;
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@media screen and (min-width: 30em) {
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-gap: 1em;
}

.cards a {
    margin-bottom: 0;
}

.card {
    display: grid;
}

.card img,
.caption {
    grid-column: 1;
    grid-row: 1;
}

.caption {
    display: flex;
    flex-direction: column;
    opacity: 0;

    /* Alignment */
    /*     align-items: flex-end; */
    /*     justify-content: flex-end; */
}

a:focus .caption,
a:hover .caption {
    background: hsla(246, 40%, 30%, 0.6);
    opacity: 1;
}
}

@media screen and (min-width: 60em) {
.cards {
    grid-template-columns: repeat(4, 1fr);
}
}
