---
// Import Stylesheet
import '../styles/global.css';

// data source
// replace temporary JSON placeholder API
const picSource = 'https://dog.ceo/api/breeds/image/random/5';
const factSource = 'https://dog-api.kinduff.com/api/facts?number=5';
// fetch the data
const picRes = await fetch(picSource);
const factRes = await fetch(factSource); 
// store retreived data
const picData = await picRes.json();
const factData = await factRes.json();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- Normalize CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

		<title>Dog Facts!</title>
	</head>
	<body>
		
		<header class="masthead">
			<h1 class="site-title">Gallery</h1>
		</header>

		<main id="content" class="main-area">

			<ul class="cards">
		  
				<!-- Your API Data -->
				{
					picData.message.map((pic, index) => (
						<li class="card">
							<img src={pic} alt="dog" />
							<p>{factData.facts[index]}</p>
						</li>
					))
				}

		  
			</ul>
		  </main>
		  


	</body>
</html>
